# Ignore everything
*

# Except source code and project files
!*.cs
!*.csproj
!*.manifest
!*.md
!*.gitignore
!LICENSE

# Allow subdirectories with source
!Localization/
!Localization/**
!Services/
!Services/**
!Properties/
!Properties/**
